In [2]:
for i in range(5):
    print("o"*6)

oooooo
oooooo
oooooo
oooooo
oooooo

Question :  ooooo    
            ooooo
            ooooo
            ooooo
            ooooo

In [2]:
for i in range(5):
    for j in range(6):
        print("o", end="")
    print()

oooooo
oooooo
oooooo
oooooo
oooooo

In [5]:
for i in range(1,6):
    for j in range(i):
        print("0", end="")
    print()

0
00
000
0000
00000

Question 1.
for n=3     
pattern is 
1
2 2
3 3 3

In [10]:
for i in range(3):
    for j in range(i+1):
        print(i+1, end="")
    print()

1
22
333

for n=5
pattern is 
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [11]:
for i in range(5):
    for j in range(i+1):
        print(i+1, end="")
    print()

1
22
333
4444
55555

Pattern for N = 3
A
BB
CCC

In [12]:
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE

n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

In [13]:
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j),end="")
    print()

A
AB
ABC
ABCD
ABCDE

E
D E
C D E
B C D E
A B C D E

In [2]:
n=4
for i in range(n):
    for j in range(i, -1, -1):
        print(chr(65 + n - j - 1), end=' ')
    print()

D
C D
B C D
A B C D

In [1]:
n = 5
for i in range(0,n):
    # for spaces 
    for j in range(0,n-(i+1)):
        print(" ",end="")
    # for star
    for k in range(0,i+1):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

In [2]:
n = 4
for i in range(1,n+1):
    # for spaces 
    for j in range((n-i)):
        print(" ",end="")
    # for star
    for k in range(1,i+1):
        print(k,end="")
    print()

   1
  12
 123
1234

Pattern for N = 4
4444
333
22
1

BINARY SORT

In [1]:
numbers = [2, 5, 8, 12, 16, 23, 38, 45, 56, 72, 91]
target = 23

In [3]:
def binarySearch(arr, target):
    low = 0
    high = len(arr) - 1
    while low<= high:
        mid = (low + high)//2
        if arr[mid]==target:
            return mid
        if arr[mid]<target:
            low = mid + 1
        else:
            high = mid - 1
    return -1

In [4]:
numbers = [2, 5, 8, 12, 16, 23, 38, 45, 56, 72, 91]
target = 23 

a = binarySearch(numbers,target)
print(a)

5